body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    margin: auto;
    width: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px #ccc;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #005eff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
